/* menggunakan nama elemen sebagai target untuk menerapkan rule & rule akan diterapkan pada seluruh elemen dari target yang ada */


/*
Contoh :
span {
color : red;
}
*/

span {
    color: red;
    background-color: skyblue;
}